* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
    background-image: url("../assets/theatre-background.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.842);
    z-index: -1;
    pointer-events: none;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    background-image: linear-gradient(90deg, #ff8c00, #ff5e62, #ffcc70, #ffeb99);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 4s infinite linear alternate;
    text-align: center;
    letter-spacing: 1px;
}

h2,
h3 {
    color: #ffffff;
    margin: 30px;
    font-family: "Mynerve", cursive;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: normal;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 20px auto;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    text-align: left;
    width: 100%;
}

input {
    padding: 10px;
    border: 1px solid #ff8c00;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333;
    width: 100%;
    text-align: left;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

input:focus {
    outline: 2px solid #baf5ff;
    border-color: #6be9ff;
}

button {
    background-color: #ff8c00;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    width: 100%;
    font-weight: bold;
    color: #ffffff;
    margin: 5px 0;
}

button:hover {
    background-color: #3bcc7c;
}

.stage {
    width: 50%;
    height: 150px;
    border: 2px solid #ff5e62;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: rotateX(10deg);
}

.stage h2 {
    color: white;
    font-size: 24px;
    font-family: 'Mynerve', sans-serif;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 100px;
    display: flex;
    justify-content: center;
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    transform: rotateX(10deg);
}

th,
td {
    border: 1px solid #ff8c00;
    padding: 15px;
    text-align: center;
    color: #333;
    transition: all 1s;
}

.reserved {
    background-color: #ff5e62;
    color: #ffffff;
    font-weight: bold;
}

.confirmation-p {
    color: #ffffff;
    font-size: 1.5rem;
    margin: 10px;
}

@keyframes fadeInMove {
    from {
        transform: translate(100vw, 100vh) scale(0.5);
        opacity: 0;
    }

    to {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}

@media (max-width: 600px) {
    form {
        max-width: 90%;
    }

    input,
    button {
        font-size: 14px;
    }

    table {
        width: 90%;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 4em;
    }
}